<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- This will help inform hibernate about the database specific queries 
			it need to create, in our case MySQL specific queries will be created for 
			CRUD operations -->

		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- This will help us to create and update tables when needed, we can 
			use "create", that will always try to create database tables and delete it 
			once done -->

		<property name="hbm2ddl.auto">update</property>

		<!-- This property will help us to know the queries created by hibernate -->

		<property name="show_sql">true</property>
		
		<mapping class = "hibernate.Student"/>
		<mapping class = "hibernate.Address"/>
	</session-factory>
</hibernate-configuration>